<header>
    <h2>Segunda-Feira, 29 Jan 2024</h2>
    <h1>15:31</h1>
</header>
<body>
    <div class="Header">
        Atividade
    </div>
    <div>
        <app-infos title="Entrada" desc="Atraso de 30min" time="8:30" icon="/images/start.svg" [dable]="false" />
        <app-infos title="Inicio do Intervalo" time="8:30" icon="/images/fork-knife.svg" [dable]="false" />
        <app-infos title="Volta do Intervalo" time="8:30" icon="/images/fork-knife.svg" [dable]="false" />
        <app-infos title="Saída" time="8:30" icon="/images/end.svg" [dable]="true" />
    </div>
</body>