<app-header />
<app-sidebar />
<main class="team">
    <section class="team-main">
        <header class="team-main-header">
            <h1>Minha Equipe</h1>
            <div class="month-selector">
                <h2>Mar 2022</h2>
                <div class="days">
                    <button class="day active">01</button>
                    <button class="day">02</button>
                    <button class="day">03</button>
                    <button class="day">04</button>
                    <button class="day">05</button>
                    <button class="day">06</button>
                    <button class="day">07</button>
                    <button class="day">08</button>
                </div>
            </div>
        </header>
            <div class="team-main-list-timeline">
                <section class="team-main-list">
                    <div class="team-member">
                        <div class="member-info">
                            <div class="avatar">
                                <div class="status-indicator online"></div>
                                <img src="images/avatar.png" alt="Victor Santos">
                            </div>
                            <div class="member-details">
                                <h3>Victor Santos</h3>
                                <span>Supervisor</span>
                            </div>
                            <button class="options-btn">
                                <img src="images/settings.png" alt="Opções">
                            </button>
                        </div>
                    </div>
        
                    <div class="team-member">
                        <div class="member-info">
                            <div class="avatar">
                                <img src="images/avatar.png" alt="Kalel Rodrigues">
                                <div class="status-indicator online"></div>
                            </div>
                            <div class="member-details">
                                <h3>Kalel Rodrigues</h3>
                                <span>Professor</span>
                            </div>
                            <button class="options-btn">
                                <img src="images/settings.png" alt="Opções">
                            </button>
                        </div>
                    </div>
        
                    <div class="team-member">
                        <div class="member-info">
                            <div class="avatar">
                                <div class="status-indicator online"></div>
                                <img src="images/avatar.png" alt="Bruno Oliveira">
                            </div>
                            <div class="member-details">
                                <h3>Bruno Oliveira</h3>
                                <span>Gerente</span>
                            </div>
                            <button class="options-btn">
                                <img src="images/settings.png" alt="Opções">
                            </button>
                        </div>
                    </div>
                </section>
                <div class="team-main-timeline">
                    <div class="timeline-hours">
                        <div class="hour-line" data-hour="08:00">
                            <div class="hour-tooltip">08:00</div>
                        </div>
                        <div class="hour-line" data-hour="09:00">
                            <div class="hour-tooltip">09:00</div>
                        </div>
                        <div class="hour-line" data-hour="10:00">
                            <div class="hour-tooltip">10:00</div>
                        </div>
                        <div class="hour-line" data-hour="11:00">
                            <div class="hour-tooltip">11:00</div>
                        </div>
                        <div class="hour-line" data-hour="12:00">
                            <div class="hour-tooltip">12:00</div>
                        </div>
                        <div class="hour-line" data-hour="13:00">
                            <div class="hour-tooltip">13:00</div>
                        </div>
                        <div class="hour-line" data-hour="14:00">
                            <div class="hour-tooltip">14:00</div>
                        </div>
                        <div class="hour-line" data-hour="15:00">
                            <div class="hour-tooltip">15:00</div>
                        </div>
                        <div class="hour-line" data-hour="16:00">
                            <div class="hour-tooltip">16:00</div>
                        </div>
                        <div class="hour-line" data-hour="17:00">
                            <div class="hour-tooltip">17:00</div>
                        </div>
                        <div class="hour-line" data-hour="18:00">
                            <div class="hour-tooltip">18:00</div>
                        </div>
                    </div>
                    <div class="timeline-events">
                        <div class="timeline-event pink" >
                            Ponto de entrada
                        </div>
                        <div class="timeline-event blue" >
                            Almoço
                        </div>
                        <div class="timeline-event green" >
                            Ponto de saída
                        </div>
                    </div>
                </div>
        </div>
    </section>
</main>