<main class="login-page">
    <section class="login-main">
        <div class="login-welcome">
            <div></div>
            <div></div>
        </div>
        <div class="login-content">
            <h1>Faça seu Login</h1>
            <div class="login-inputs">
                <app-input [label]="'E-mail'" [type]="'text'" [placeholder]="'kalel.rodrigues@icloud.com'"/>
                <app-input [label]="'Senha'" [type]="'password'" [placeholder]="'************************'"/>
            </div>
            <div class="login-inputs-select">
                
            </div>
            <button>Entrar</button>
                <h3>Não possui uma conta? <a href="cadastro">Cadastre-se</a></h3>
        </div>
    </section>
</main>