<main class="login-page">
    <section class="login-main">
        <div class="login-welcome">
            <div class="login-link">
                <a href="home">projectDRT.com</a>
            </div>
            <div class="login-welcome-content">
                <img src="assets/images/icon.png" >
                <h1>Seja Bem-Vindo!</h1>
            </div>
        </div>
        <div class="login-content">
            <h1>Faça Seu Login</h1>
            <div class="login-inputs">
                <app-input [label]="'E-mail'" [type]="'text'" [placeholder]="'kalel.rodrigues@icloud.com'"/>
                <app-input [label]="'Senha'" [type]="'password'" [placeholder]="'************************'"/>
            </div>
            <div class="login-inputs-select">
                <div class="login-inputs-password">
                    <label class="ios-checkbox blue">
                        <input type="checkbox" />
                        <div class="checkbox-wrapper">
                          <div class="checkbox-bg"></div>
                          <svg fill="none" viewBox="0 0 24 24" class="checkbox-icon">
                            <path
                              stroke-linejoin="round"
                              stroke-linecap="round"
                              stroke-width="3"
                              stroke="currentColor"
                              d="M4 12L10 18L20 6"
                              class="check-path"
                            ></path>
                          </svg>
                        </div>
                      </label>
                      <p>Lembrar Senha</p>
                </div>
                <a href="password">Esqueci Minha Senha</a>
            </div>
            <button>Entrar</button>
            <h4>Não possui uma conta? <a href="cadastro">Cadastre-se</a></h4>
        </div>
    </section>
</main>