<app-sidebar />
<app-header />
<main class="points">
    <section class="points-main">
        <h1>Meus Pontos</h1>
        <div class="point-table">
            <div class="point-filters">
            <app-filter [title]="'Dia'" [values]="[10,20,]"/>
            <app-filter [title]="'Mês'" [values]="[1,2,4,5]"/>
            <app-filter [title]="'Ano'" [type]="'year'" [values]="[2024]"/>
            </div>
            <img src="images/Line.png">
            <div>
    
            </div>
            <div>
                <button><img src=""></button>
            </div>
        </div>
    </section>
</main>
