@use './../../../styles' as styles;

.points{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .points-main{
        width: 82%;
        height: 80%;
        padding: 1vh 1vw;
        display: flex;
        flex-direction: column;
        .point-table{
            width: 80%;
            display: flex;
            flex-direction: column;
            .point-filters{
                display: flex;
                align-items: center;
                padding: 0 0 1em 0;
            }
            .point-table-main{
                height: 42.1vh;
                max-height: 100%;
                overflow: auto;
                margin: 1em 0;
                
            }
            .point-table-main::-webkit-scrollbar {
                width: 10px; /* Largura total do scrollbar */
            }
            
            .point-table-main::-webkit-scrollbar-track {
                background: #fff; /* Cor do fundo da barra */
                border-radius: 10px; /* Deixa o track arredondado */
                box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); /* Dá um efeito sutil no track */
                margin: 2px; /* Ajusta o espaçamento interno */
            }
            
            .point-table-main::-webkit-scrollbar-thumb {
                background: #F2F2F6; /* Cor do botão de rolagem */
                border-radius: 10px; /* Mantém o thumb arredondado */
                width: 5px; /* Faz o thumb ser menor que o track */
                margin: 2px auto; /* Centraliza o thumb dentro do track */
                border: 2px solid #fff; /* Cria um espaçamento visual no thumb */
            }
            
            .point-table-main::-webkit-scrollbar-thumb:hover {
                background: #ccc; /* Cor quando passa o mouse */
            }
            
        }
        .point-button {
            display: flex;
            justify-content: flex-end;
          
            button {
                height: 60%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0; /* Remove o padding padrão */
                border: none;
                background-color: transparent;
                cursor: pointer;
                overflow: hidden; /* Para esconder o texto que "transborda" durante a animação */
                position: relative;
                border-radius: 2em; /* Bordas arredondadas para o botão inteiro */
                border: solid styles.$primary-color 1px; /* Borda do botão */
                background-color: styles.$primary-color; /* Cor de fundo do botão */
            }
          
            .icone {
              width: 1vw;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: transform 0.3s ease;
              color: #fff; /* Cor do ícone */
              font-size: 1.5em; /* Tamanho do ícone */
              border-radius: 2em 0 0 2em; /* Bordas arredondadas apenas no lado esquerdo */
              padding-left: .6em;
            }
          
            .texto {
              opacity: 0;
              width: 0; /* Começa com largura zero */
              white-space: nowrap; /* Impede que o texto quebre em várias linhas */
              transition: opacity 0.3s ease, width 0.3s ease;
              color: #fff; /* Cor do texto */
              font-size: 1em; /* Tamanho do texto */
              padding-right: 1em; /* Espaçamento interno à direita */
            }
          
            .expandir {
              opacity: 1;
              width: 7vw; /* Ajuste a largura conforme necessário */
            }
          }
    }
}