<table class="Table">
    <thead>
      <tr>
        <th (click)="sortData('date')">
          <span class="sort-icon">Data {{ sortDirection['date'] === 'asc' ? '▲' : '▼' }}</span>
        </th>
        <th>Entrada e Saída</th>
        <th (click)="sortData('type')">
          <span class="sort-icon">Tipo {{ sortDirection['type'] === 'asc' ? '▲' : '▼' }}</span>
        </th>
        <th (click)="sortData('status')">
          <span class="sort-icon">Status {{ sortDirection['status'] === 'asc' ? '▲' : '▼' }}</span>
        </th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of sortedData">
        <td>{{ record.date }}</td>
        <td>{{ record.entry }} - {{ record.exit }}</td>
        <td>{{ record.type }}</td>
        <td>{{ record.status }}</td>
        <td>
          <button *ngFor="let action of record.actions">{{ action }}</button>
        </td>
      </tr>
    </tbody>
  </table>