@use '../../../../styles' as styles;
div{
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    label{
        font-size: 1em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        padding: .5em 0;
    }
    input{
        border: #D3D3D3 1px solid;
        border-radius: 0.5em;
        padding: 1em;
        transition: transform 0.5s;
    }
    input:focus{
        outline: none;
        transform: scale(1.005);
        caret-color: styles.$primary-color ;
    }
    input::placeholder{
        color: styles.$placeholder-text;
    }
}