@use '../../../../styles' as styles;
div{
    display: flex;
    flex-direction: column;
    margin: 0.5em 0;
    label{
        font-size: 1em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }
    input{
        border: #D3D3D3 1px solid;
        border-radius: 0.5em;
        padding: 1em 1em;
    }
    input::placeholder{
        color: styles.$placeholder-text;
    }
}